.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-color: rgb(15, 52, 108);
  margin: 0px;
}

#hero,
.handwriting {
  font-family: "Caveat";
  font-size: 25px;
  line-height: 30px;
}

.title {
  font-family: "Spectral";
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.2em;
}

.card-title {
  font-family: "Spectral";
  font-size: 21px;
  line-height: 24px;
}

.card-content,
footer {
  font-family: "Libre Franklin";
  font-size: 12px;
  line-height: 18px;
}

/*
*
*
*
END MASTER
*
BEGIN HEADER
*
*
*
*/

header {
  background-color: rgba(15, 52, 108, 0.95);
  color: #ffffff;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 0;
  font-size: 20px;
  line-height: 25px;
  z-index: 100;
}

#headerPad {
  height: 90px;
}

#hero {
  background: url("https://lh3.googleusercontent.com/7zftUYHdySugzYqdWMhw7UqxL04eFOVsJh6IXkFzi-r6l7k1KMG41zwE3asWUXlS_VOp5VNF0s_9Z5F4CoCC5Y3gXxLhFwzn5LDUPz-j_7kzR5pRApHeWd4IDYYYHkwUan2IOogHWW9_-Z5h3M7HxvE7jIIsVWIQACcy9euo044nZTHgpIEgOP-8rVhcaDDZ0cEAT5RHwGBgyKn3YcA2bc57mmDiId7ZL_tyu4NaDcYm8Vumlkf647npPpyoecnJJq9TpS70GTF24kVE2Q3UbipRk4h8DWVZflhOnqVe3Nmgx14xxzQgONcCDLXcFTA2p58_QIJ3KkL4Hj0vBUiHnq89SfFQABtg4YbfXjoSgp_DpGR46mpTay4LJUFvnk8mIJocwsEP2Y4SShYjtQQOEX0a8QKPeSc6OJShdONYDbPryjHY9hlr0Mx8uBS-EUB76ylqU1RuOqyIVSv9FMxsAog1aRA5j1UnR_ZQLLUy4Kznriw9r3ztYaZmmvLBFXSLyEKDUEq5tmNXCoWc2BZNhrAw3E7WZLUpdA5WNG8_3p7-GM8N1w-RVP4pu7gJkwDkUIaBzoujjthhUdoKg4S46pD__O5_Nmzx6UfwdfUXMSxuv4beDYnL9Vpux4lV05RMHOcnQo9HfgBub82v8HDfcnZUiqu33rtyqbomNyssVyQtntnH24vYUILj1gAijg=w990-h660-no");
  min-height: 425px;
  max-height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 1025px) {
  #hero {
    background-size: 100%;
  }
}

#hero div {
  text-align: center;
  background: rgba(242, 242, 242, 0.6);
  width: 50%;
  min-width: 325px;
  max-width: 350px;
  padding: 20px;
  margin: auto;
  position: absolute;
  top: 40%;
  left: 20%;
}

/* 
*
*
*
*
END HEADER
*
BEGIN FILTER
*
*
*
*
*/

#filter {
  font-family: "Caveat";
  font-size: 25px;
  line-height: 30px;
  text-align: left;
  padding: 10px 50px 30px 50px;
  width: 60%;
  max-width: 78%;
  margin: 0 auto;
}

#filter > div {
  padding-bottom: 20px;
  margin: 0;
  font-family: "Spectral";
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  font-style: italic;
}

select {
  font-family: "Caveat";
  font-size: 20px;
  line-height: 25px;
  width: 125px;
}

select {
  margin: 0 15px;
}

/* 
*
*
*
*
END FILTER
*
BEGIN FOOD LIST & CARDS
*
*
*
*
*/

#foodListContainer {
  background-color: #f2f2f2;
  padding: 30px;
}

#foodList {
  margin: 0 auto;
  width: 100%;
  max-width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-between;
  background: rgba(206, 206, 206, 0.6);
  border-radius: 40px;
}

@media screen and (max-width: 1250px) {
  #foodList {
    max-width: 950px;
  }
}

@media screen and (max-width: 900px) {
  #foodList {
    max-width: 590px;
  }
}

@media screen and (max-width: 600px) {
  #foodList {
    width: 350px;
  }
}

.card {
  background: #ffffff;
  width: 225px;
  margin: 25px 10px;
  border-radius: 20px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.2);
}

.show {
  position: static;
  opacity: 1;
  transition: opacity 0.8s ease-in-out 0.8s;
}

.hide {
  opacity: 0;
  position: absolute;
  transition: opacity 0.8s ease-in-out;
}

.card li {
  cursor: pointer;
}

.card-image {
  position: relative;
  width: 225px;
  height: 225px;
}

.card-image img {
  max-width: 100%;
  border-radius: 20px 20px 0 0;
}

.card-title {
  color: #282828;
  text-shadow: 1px 1px 5px rgba(50, 50, 50, 0.4);
  font-weight: bold;
  text-align: left;
  padding-bottom: 8px;
  color: rgb(24, 79, 161);
  width: 200px;
  font-size: 24px;
  line-height: 1.2em;
}

.card-image .button {
  color: #ffffff;
  background: #ff363d;
  border-radius: 17px;
  font-size: 17px;
  line-height: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0 12px 3px 12px;
  margin: 7px 15px;
  list-style-type: none;
}

.card-content {
  padding: 10px 15px 20px 15px;
  text-align: left;
  position: relative;
  font-size: 14px;
  line-height: 1.3em;
}

/* 
*
*
*
*
END FOOD LIST & CARDS
*
BEGIN SOLO CARDS
*
*
*
*
*/

.showOverlay,
.hideOverlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10;
  text-align: center;
}

.showOverlay {
  display: block;
}

.hideOverlay {
  display: none;
}

#descCard {
  margin: 8% auto;
  width: 400px;
  background: #ffffff;
  box-shadow: 3px 2px 47px 9px rgba(61, 61, 61, 1);
  -webkit-box-shadow: 3px 2px 47px 9px rgba(61, 61, 61, 1);
  -moz-box-shadow: 3px 2px 47px 9px rgba(61, 61, 61, 1);
  /* display: inline-block; */
  /* postion: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%); */
}

.card-image-lg {
  width: 400px;
}

.card-image-lg img {
  max-width: 100%;
  border-radius: 0;
}

#descCard .card-content {
  line-height: 22px;
}

#descCard .card-title {
  line-height: 32px;
}

/* 
*
*
*
*
END SOLO CARD
*
BEGIN FOOTER
*
*
*
*
*/

footer {
  color: #ffffff;
  padding: 20px 5px;
  font-size: 10px;
  line-height: 14px;
}
